---
import BaseHtml from "../../../components/astro/BaseHtml.astro";
import { Example1 } from "./components/Example1";
---
<BaseHtml title="Jessy Pouliot">
  <h1>React Advanced Input</h1>
  <a href="https://jessypouliot98.github.io/react-advanced-input" target="_blank">
    storybook
  </a>
  <Example1 client:load />
</BaseHtml>
